---
layout: h5bp-layout.hbs
---
<style>
.container {
  max-width: 1040px;
  margin: 0 auto;
}
.container:before,
.container:after {
  overflow: hidden;
  clear: both;
  zoom: 1;
}
</style>
<div class="container">
  {{> body }}
</div>